*{
    margin: 0;
    padding: 0;
}

.channels{
    height: 15vh;
    width: 100vw;
    gap: 10px;
}

.imgDesenhos{
  padding-top: 3px;
  padding-left: 3px;
  border-radius: 5px;
  width: 120px;
  height: 180px
}

/* .logo_channels{
  width: 88px;
  position: relative;
  margin-left: -95px;
  margin-top: 75px;
} */

.display {
  display: grid;
  overflow: auto;
  scroll-behavior: smooth;

  section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, auto);
    margin: 5px;
    gap: 10px;
    
    .figure {
      padding: 10px 8px;
    }      
  }
}

@media only screen and (min-width: 1000px){
  .imgDesenhos{
    padding-top: 3px;
    padding-left: 3px;
    border-radius: 5px;
    width: 160px;
    height: 230px
  }
}